body {
  background-color: #f5f5f5;
  color: #777;
  overflow-x: hidden;
}

.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-right-top-0 {
  border-top-right-radius: 0 !important;
}

.rounded-left-top-0 {
  border-top-left-radius: 0 !important;
}

.shadow-google {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
  border-radius: .5em;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.border-google {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.no-resize {
  resize: none !important;
}

.active {
  border-bottom: .25em solid rgb(40, 167, 69);
}

.swap {
  text-align: center;
  min-width: 56px;
  max-width: 56px;
}

.footer {
  text-align: center;
}

.footer-item {
  display: inline-block;
}

.md-green {
  color: rgba(40, 167, 69, 0.54);
}

.material-icons.md-36 {
  font-size: 36px;
}

.icon-oval {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  height: 70px;
}

.no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important
}

.mobile {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.svg {
  display: block;
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 42px;
}

.law {
  background-image: url('/static/images/law.svg');
}

.github {
  background-image: url('/static/images/github.svg');
}

.mail {
  background-image: url('/static/images/mail.svg');
}

/* This is the media query section */
@media (max-width: 576px) {
  .mobile {
    border-top: none;
    color: #fff;
    background-color: rgb(40, 167, 69)
  }

  .footer {
    margin-top: 6em;
  }
}

@media screen and (min-width: 576px) {
  .height-google {
    min-height: calc(100vh - 65px - 56px - 148px - 72px);
  }
}