* linguist-vendored
*.py linguist-vendored=false
*.sh linguist-vendored=false
resources/ady/suad/HowToTeachTheCircassianLanguage.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Circassian_arabic_dict.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ.PDF filter=lfs diff=lfs merge=lfs -text
resources/draft/645186918-Тэухьидымрэ-иманымрэ-зыхэлъхэм-я-уаджибхэр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/23077430-Adiga-Proverbs-Book.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/432206182-Circassian-Proverbs-Book.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/518075940-Адыгские-пословицы-и-поговорки-Гутова-Л-А1.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/646338148-Мэлэ1ычхэр-уи-ф1эщ-пщ1ыныр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/647570875-МУСЛЪЫМЭНЫМ-И-БЫДАПIЭ.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/398534597-Кабардино-черкесский-язык.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/577797585-текст-1.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/643933266-Аль-1эрбэгьунэ-Ан-Нэуэуийэ.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/645206888-Иманыр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/645209363-Л1ык1уэхэр-уи-ф1эщ-пщ1ыныр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/646347361-Къемэт-махуэр-уи-ф1эщ-пщ1ыныр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/650724689-Иманыр-зэрыхэхъуэр.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Т[[:space:]]Ы[[:space:]]Ж[[:space:]]Ь[[:space:]]Ы[[:space:]]Н[[:space:]]Т[[:space:]]А[[:space:]]С.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Adigabza.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/DictionaryOfPlantNames.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ[[:space:]]-[[:space:]]А[[:space:]],[[:space:]]З.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]4.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Adyge_khabze_1_klass.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]3.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/ЕСМЫКЪО[[:space:]]ЕСХЪОТ.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/лит-ра-6класс.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/AdigaDance.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ[[:space:]]-[[:space:]]И[[:space:]],[[:space:]]С.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ[[:space:]]-[[:space:]]Т[[:space:]],[[:space:]]l.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
