* linguist-vendored
*.py linguist-vendored=false
*.sh linguist-vendored=false
resources/ady/suad/HowToTeachTheCircassianLanguage.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Circassian_arabic_dict.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ.PDF filter=lfs diff=lfs merge=lfs -text
resources/draft/645186918-Тэухьидымрэ-иманымрэ-зыхэлъхэм-я-уаджибхэр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/23077430-Adiga-Proverbs-Book.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/432206182-Circassian-Proverbs-Book.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/518075940-Адыгские-пословицы-и-поговорки-Гутова-Л-А1.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/646338148-Мэлэ1ычхэр-уи-ф1эщ-пщ1ыныр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/647570875-МУСЛЪЫМЭНЫМ-И-БЫДАПIЭ.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/398534597-Кабардино-черкесский-язык.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/577797585-текст-1.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/643933266-Аль-1эрбэгьунэ-Ан-Нэуэуийэ.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/645206888-Иманыр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/645209363-Л1ык1уэхэр-уи-ф1эщ-пщ1ыныр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/646347361-Къемэт-махуэр-уи-ф1эщ-пщ1ыныр.pdf filter=lfs diff=lfs merge=lfs -text
resources/draft/650724689-Иманыр-зэрыхэхъуэр.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Т[[:space:]]Ы[[:space:]]Ж[[:space:]]Ь[[:space:]]Ы[[:space:]]Н[[:space:]]Т[[:space:]]А[[:space:]]С.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Adigabza.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/DictionaryOfPlantNames.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ[[:space:]]-[[:space:]]А[[:space:]],[[:space:]]З.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]4.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Adyge_khabze_1_klass.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]3.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/ЕСМЫКЪО[[:space:]]ЕСХЪОТ.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/лит-ра-6класс.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/AdigaDance.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ[[:space:]]-[[:space:]]И[[:space:]],[[:space:]]С.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэм[[:space:]]изэхэф[[:space:]]гушыIалъ[[:space:]]-[[:space:]]Т[[:space:]],[[:space:]]l.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/suad/Адыгабзэр[[:space:]]сигуапэу[[:space:]]зэсэгъашIэ[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.17.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.22.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.06.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.28.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.31.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.19.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.19.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/8.05.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.02.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.16.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.03.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.14.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.22.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.03.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.27.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.05.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.14.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.10.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.27.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.02.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.21.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.29.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.29.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.08.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.25.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.17.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.13.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.10.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.26.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.22.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.25.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.15.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.26.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.07.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.18.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.24.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.11.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.03.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.08.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.22.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.23.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.11.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.08.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.04.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.07.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.10.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.20.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.01.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.16.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/27.08-2.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.16.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.09.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.29.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.30.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/02.05.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.20.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.01.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.10.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.19.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.24.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.12-а2.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.25.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.18.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/21.05.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.26.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/08.27.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.15-2.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.12.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.24.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/11.21.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/25.06.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.17.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.15.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.20.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.21.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.29.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/09.12.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/10.13.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.12.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.23.pdf filter=lfs diff=lfs merge=lfs -text
resources/ady/2009/12.15.pdf filter=lfs diff=lfs merge=lfs -text
